<div class="notify-option">
    <label class="notify-option-label notify-option-label-disabled" data-notify-label>
        <input type="checkbox" data-notify-checkbox disabled />
        <span>Notify me when opened</span>
    </label>
    <p class="form-help" data-notify-hint hidden></p>
</div>
